<!-- <p>child works!</p> -->
<!-- For @Input -->
<!-- <h1>{{childMessage}}</h1> -->

<!-- For @Output -->
<!-- <button (click)="sendMessage()">Send Message to Parent</button> -->

<!-- For Content Projection -->
<!-- <div class="child-container">
    <h3>Child Component</h3>
    <ng-content></ng-content>
</div> -->

<!-- Lifecycle hooks: Constructor, ngOnChanges -->
 <!-- Same for ngOnInit -->
<!-- <h2>Child Component</h2>
<p>TICKS: {{lifecycleTicks}}</p>
<p>DATA: {{data}}></p> -->

<!-- ngDoCheck: Check parent -->

<!-- ngAfterContentInit -->
 <!-- Same for ngAfterContentChecked -->
 <!-- <h2>Child Component</h2>
 <ng-content></ng-content> -->


 <!-- ngAfterViewInit -->
 <!-- <h2>Child Component</h2>
 <ul *ngIf="users.length > 0; else loading">
   <li *ngFor="let user of users">
     <strong>{{ user.name }}</strong> - {{ user.email }}
   </li>
 </ul>
 <ng-template #loading>
   <p>Loading users...</p>
 </ng-template> -->

 <!-- ngAfterViewChecked: in parent -->

 <!-- ngOnDestroy -->
 <h2>Child Component</h2>